<div class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>Hackathon</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://francedesignweek.fr/wp-content/uploads/2021/07/Visuel-hackathon-2.png" alt="Logo VIF">
    <mat-card-content>
      <p>
        <b>AGROVIF</b> est un événement maison imaginé et organisé depuis 14 ans par VIF, créateur de logiciels et d’applications innovantes : ERP, Supply Chain Planning et MES dédiés à l’industrie et centrés utilisateurs.

        Cette année, nous organisons un hackathon durant ces deux jours afin de mettre le design au service de l’innovation collective autour du thème suivant : “La transformation numérique au service de la RSE ».

        AGROVIF est aussi labellisé Nantes Digital Week cette année.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Valider</button> -->
    </mat-card-actions>
  </mat-card>
</div>
